{% extends "enrollment/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}

{# Container for fading JavaScript-created error messages #}
<div id="main-alert-fading" class="alert alert-fade" role="alert">
</div>

{# Container for persistent Django-created error messages #}
{% if message %}
<div id="main-alert-persistent" class="alert alert-danger">
    {{message|linebreaksbr}}
</div>
{% endif %}

<div class="row">

    <div id="cart-container" class="col-md order-md-5 card">
        <div>
            {% if cart %}
                {% if cart.completed %}
                    <h2 class="card-header section-header">Order {{cart.id}}</h2>
                    <p><span class="label">Completed:</span>  {{cart.completed}}</p>
                {% else %}
                    <h2 class="card-header section-header">Checkout</h2>
                    {% if semester.registration_status == 'closed' %}
                        <p>{{semester}} registration closed on {{semester.registration_close}} </p>
                    {% else %}
                        <p>{{semester}} registration is open from {{semester.registration_open|date:DATE_TIME_FORMAT}} to {{semester.registration_close|date:DATE_TIME_TIMEZONE_FORMAT}}, or until classes sell out. </p>
                        <h4>Review Your Cart</h4>
                    {% endif %}
                {% endif %}
                <ul id="cart-items">
                {% for item in cart.items %}
                    <li data-offering={{item.offering.id}}>{{item.offering.course.title}} {{item.offering.weekday_name}} ${{item.price}} 
                        {% if not cart.completed %}
                            <button class="remove-button" data-item={{item.id}}>Remove</button>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% if cart.items %}
                    <p><span class="label">Subtotal:</span>  ${{cart.subtotal|default_if_none:"0.00"}}</p>
                    <p><span class="label">Discounts: </span> ${{cart.discount|default_if_none:"0.00"}}</p>
                    <p><span class="label">Total:</span>  ${{cart.total|default_if_none:"0.00"}}</p>
                    {% if cart.total > 0 and not cart.completed %}
                        <h4>Review Your Profile <button id="edit-profile-button" data-profile={{profile.id}}>Edit</button></h4>
                        <div class="container">
                            <div class="row">
                                <div class="col-md">
                                    <div class="card editable">
                                        <h4 class="card-title">About Me</h4>
                                        <div>
                                            <span class="label">First Name:</span> <span class="value" id="first-name">{{profile.first_name}}</span>
                                        </div>
                                        <div>    
                                            <span class="label">Last Name:</span> <span class="value" id="last-name">{{profile.last_name}}</span>
                                        </div>
                                        <div>
                                            <span class="label">Email:</span> <span class="value" id="email">{{profile.email}}</span>
                                        </div>
                                        <div>
                                            <span class="label">Phone:</span> <span class="value" id="phone">{{profile.phone}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="card editable">
                                        <h4 class="card-title">Emergency Contact</h4>
                                        <div>
                                            <span class="label">First Name:</span> <span class="value" id="emergency-first">{{profile.emergency_first}}</span>
                                        </div>
                                        <div>
                                            <span class="label">Last Name:</span> <span class="value" id="emergency-last">{{profile.emergency_last}}</span>
                                        </div>
                                        <div>
                                            <span class="label">Email:</span> <span class="value" id="emergency-email">{{profile.emergency_email}}</span>
                                        </div>
                                        <div>
                                            <span class="label">Phone:</span> <span class="value" id="emergency-phone">{{profile.emergency_phone}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Payment Information</h4>
                        <form action="{% url 'order' cart.id %}" method="POST" class="">
                            {% csrf_token %}
                            {{ payment_form }}
                            <input id="submit-cart-button" type="submit" class="btn btn-primary link-as-button">
                        </form>
                    {% endif %}
                {% else %}
                    <h4>No items in your cart.</h4>
                {% endif %}

            {% endif %}
            <!-- <button id="checkout-button" data-order="{{cart.id}}">Checkout</button> -->
        </div>
    </div>

</div>

{% endblock %}