{% extends "enrollment/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}

{# Container for fading JavaScript-created error messages #}
<div id="main-alert-fading" class="alert alert-fade" role="alert">
</div>

{# Container for persistent Django-created error messages #}
{% if message %}
<div id="main-alert-persistent" class="alert alert-danger">
    {{message|linebreaksbr}}
</div>
{% endif %}

<h2>Join the Class</h2>
{% if semester.registration_status == 'closed' %}
    <p>{{semester}} registration closed on {{semester.registration_close}} </p>
{% else %}
    <p>{{semester}} registration is open from {{semester.registration_open|date:DATE_TIME_FORMAT}} to {{semester.registration_close|date:DATE_TIME_TIMEZONE_FORMAT}}, or until classes sell out. </p>
{% endif %}

<div class="row">

    <div id="cart-container" class="col-md order-md-5 card">
        <h2 class="card-header section-header">Shopping Cart</h2>
        <div>
            {% if cart %}
                <ul id="cart-items">
                {% for item in cart.items %}
                    <li data-offering={{item.offering.id}}>{{item.offering.course.title}} {{item.offering.weekday_name}} ${{item.price}} <button class="remove-button" data-item={{item.id}}>Remove</button></li>
                {% endfor %}
                </ul>
                {% if cart.items %}
                    <p><span class="label">Subtotal:</span>  ${{cart.subtotal|default_if_none:"0.00"}}</p>
                    <p><span class="label">Discounts: </span> ${{cart.discount|default_if_none:"0.00"}}</p>
                    <p><span class="label">Total:</span>  ${{cart.total|default_if_none:"0.00"}}</p>
                    <form action="{% url 'checkout' cart.id %}" method="GET" class="">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary link-as-button">
                    </form>
                {% else %}
                    <h4>No items in your cart.</h4>
                {% endif %}
            {% else %}
                <h4>No items in your cart.</h4>
            {% endif %}
            <!-- <button id="checkout-button" data-order="{{cart.id}}">VALIDATE</button> -->
        </div>
    </div>

    <div id="offerings-container" class="col-md-7 card">
        <h2 class="card-header section-header">Offerings</h2>
        {% if page %}
        <div class="accordion" id="accordionExample">
            {% for offering in page %}
            <div class="card" data-offering="{{offering.id}}">
                <div class="card-header" id="heading{{offering.id}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{offering.id}}"
                            aria-expanded="true" aria-controls="collapse{{offering.id}}">
                            {# CITATION: https://simpleisbetterthancomplex.com/references/2016/06/21/date-filter.html #}
                            {{offering.course}}: {{offering.weekday_name}}s at {{offering.start_time|date:"g:i a"}} 
                        </button>
                    </h5>
                </div>

                <div id="collapse{{offering.id}}" class="collapse" aria-labelledby="heading{{offering.id}}"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <h4>{{offering.course.title}}</h4>
                        <h5>{{offering.course.subtitle}}</h5>
                        <p><span class="label">When:</span> {{offering.weekday_name}}s {{offering.start_time|date:"g:i a"}} - {{offering.end_time|date:"g:i a"}} at {{offering.location}}</p>
                        <p><span class="label">Where:</span> <a href="{{offering.location.web_site}}">{{offering.location}}</a>, {{offering.location.address_1}}, {{offering.location.city}}, {{offering.location.state}} (<a href="{{offering.location.parking}}">parking info</a>)</p>
                        {{offering.course.description_html|safe }}
                        <p><span class="label">Level:</span> {{offering.course.qualifications}}</p>
                        <h5>Register Now</h5>
                        <p><span class="label">Price:  </span>${{offering.price}}</p>
                        {% if offering.semester.registration_status == 'future' %}
                            <p>Registration for this class will open on {{offering.semester.registration_open|date:DATE_TIME_FORMAT}}</p>
                        {% elif offering.spots_left == 0 %}
                            <p>This class is sold out.</p>
                        {% elif offering.semester.registration_status == 'closed' %}
                            <p>Registration for this semester has closed.</p>
                        {% else %}
                            <p>{{offering.spots_left}} of {{offering.capacity}} spots remaining.</p>
                            <button class="btn btn-primary add-button" data-offering={{offering.id}}>Add to Cart</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div>
            {# CITATION:  based on the Vacara example in Vlad's section #}
            <nav role="navigation">
                <ul class="pagination">
                    {% if page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}">Previous</a></li>
                    {% endif %}

                    <li class="page-item"><a class="page-link" href="?page={{page.number}}">{{page.number}}</a></li>

                    {% if page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {% else %}
        <div>{{NO_OFFERINGS}}</div>
        {% endif %}
    </div>

</div>

{% endblock %}