{% extends "enrollment/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}

<header>
    <h2>Join the Class</h2>
    {% if semester.registration_status == 'closed' %}
        <p>{{semester}} registration closed on {{semester.registration_close}} </p>
    {% else %}
        <p>{{semester}} registration is open from {{semester.registration_open|date:DATE_TIME_FORMAT_NO_YEAR}} to {{semester.registration_close|date:DATE_TIME_TIMEZONE_FORMAT}}, or until classes sell out. </p>
    {% endif %}
</header>

<div class="row">

    <div id="cart-container" class="col-md order-md-5 card">
        <h2 class="card-header section-header">Shopping Cart</h2>
        <div class="accordion">
            {% if cart %}
                <ul id="cart-items">
                {% for item in cart.items %}
                    <li data-offering={{item.offering.id}}>{{item.offering.course.title}} {{item.offering.weekday_name}} ${{item.price|floatformat:2 }} <button class="remove-button btn btn-link" data-item={{item.id}}>Remove</button></li>
                {% endfor %}
                </ul>
                {% if cart.items %}
                <div>
                    <span class="label">Subtotal:</span>  <span class="value" id="cart-subtotal">${{cart.subtotal|default_if_none:"0.00"|floatformat:2 }}</span>
                </div>
                <div>
                    <span class="label">Discounts: </span> <span class="value" id="cart-discount">-${{cart.discount|default_if_none:"0.00"|floatformat:2 }}</span>
                </div>
                <div>
                    <span class="label">Total:</span>  <span class="value" id="cart-total">${{cart.total|default_if_none:"0.00"|floatformat:2 }}</span>
                </div>
                {% else %}
                    <h4>No items in your cart.</h4>
                {% endif %}
            {% else %}
                <h4>No items in your cart.</h4>
            {% endif %}
            <!-- Include the form to supply the CSRF token, but hide the Checkout button if there are no items -->
            <form action="{% if cart %} {% url 'order' cart.id %} {% endif %}" method="GET" class="">
                {% if cart.items %}
                    <input type="submit" value="Checkout" class="btn btn-primary">
                {% endif %}
            </form>
        </div>
    </div>

    <div id="offerings-container" class="col-md-7 card">
        <h2 class="card-header section-header">Offerings</h2>
        {% if page %}
        <div class="accordion" id="offering-accordion">
            {% for offering in page %}
            <div class="card" data-offering="{{offering.id}}">
                <div class="card-header" id="heading{{offering.id}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{offering.id}}"
                            aria-expanded="true" aria-controls="collapse{{offering.id}}">
                            {# CITATION: https://simpleisbetterthancomplex.com/references/2016/06/21/date-filter.html #}
                            {{offering.course}}: {{offering.weekday_name}}s at {{offering.start_time|date:TIME_FORMAT}} 
                        </button>
                    </h5>
                </div>

                <div id="collapse{{offering.id}}" class="collapse" aria-labelledby="heading{{offering.id}}"
                    data-parent="#offering-accordion">
                    <div class="card-body">
                        <h5>{{offering.course.subtitle}}</h5>
                        <p><span class="label">When:</span> {{offering.weekday_name}}s {{offering.start_time|date:TIME_FORMAT}} - {{offering.end_time|date:TIME_FORMAT}} at {{offering.location}}</p>
                        <p><span class="label">Where:</span> <a href="{{offering.location.web_site}}">{{offering.location}}</a>, {{offering.location.address_1}}, {{offering.location.city}}, {{offering.location.state}} (<a href="{{offering.location.parking}}">parking info</a>)</p>
                        {{offering.course.description_html|safe }}
                        <p><span class="label">Level:</span> {{offering.course.qualifications}}</p>
                        <h5>Register Now</h5>
                        <p><span class="label">Price:  </span>${{offering.price|floatformat:2 }}</p>
                        <p><span class="label">{{offering.num_weeks}} Weeks:  </span>{{offering.offering_dates_text}}</p>
                        {% if offering.no_class_dates %}
                            <p><span class="label">No Class:  </span>{{offering.no_class_dates_text}}</p>
                        {% endif %}
                        <p><span class="label">Backup Date:</span>  In the event of a cancellation, we will offer a make-up class on {{offering.backup_class|date:DATE_TIME_FORMAT_NO_YEAR}}</p>
                        {% if offering.schedule_notes %}
                            <p><span class="label">Schedule Notes:  </span>{{offering.schedule_notes}}</p>
                        {% endif %}
                        {% if offering.semester.registration_status == 'future' %}
                            <p>Registration for this class will open on {{offering.semester.registration_open|date:DATE_TIME_FORMAT_NO_YEAR}}</p>
                        {% elif offering.spots_left < 1 %}
                            <p>This class is sold out.</p>
                        {% elif offering.semester.registration_status == 'closed' %}
                            <p>Registration for this semester has closed.</p>
                        {% else %}
                            <p>{{offering.spots_left}} of {{offering.capacity}} spots remaining.</p>
                            {% if user.is_authenticated %}
                                <button class="btn btn-primary add-button" data-offering={{offering.id}}>Add to Cart</button>
                            {% else %}
                                You must <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">create an account</a> to register for classes.
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="container" id="paginator">
            {# CITATION:  based on the Vacara example in Vlad's section #}
            <nav role="navigation">
                <ul class="pagination">
                    {% if page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}">Previous</a></li>
                    {% endif %}

                    <li class="page-item"><a class="page-link" href="?page={{page.number}}">{{page.number}}</a></li>

                    {% if page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {% else %}
        <div>{{NO_OFFERINGS}}</div>
        {% endif %}
    </div>

</div>

{% endblock %}