{% extends "enrollment/layout.html" %}

{% block body %}

{% if message %}
<div id="main-alert-persistent" class="alert alert-danger">{{ message|linebreaksbr }}</div>
{% endif %}

<div class="row">
    {% if profile %}
    <div id="profile-view" class="col-md">
        <h2>User Profile <button class="btn btn-link" id="edit-profile-button" data-profile={{profile.id}}>Edit</button></h2>
        <!-- From is here to provide the CSRF token -->
        <form>
            {% csrf_token %}
        </form>
        <div class="accordion" id="profile-accordion">

            <div class="card" data-section="account">
                <div class="card-header" id="heading-account">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-account" aria-expanded="true" aria-controls="collapse-account">
                            Account
                        </button>
                    </h3>
                </div>
                <div id="collapse-account" class="collapse show" aria-labelledby="heading-account" data-parent="#profile-accordion">
                    <div class="card-body">
                        <div>
                            <span class="label">Username:</span> <span class="value">{{profile.username}}</span>
                        </div>
                        <div>
                            <span class="label">Password:</span> <span class="value">****************</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" data-section="about-me">
                <div class="card-header" id="heading-about-me">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-about-me" aria-expanded="true" aria-controls="collapse-about-me">
                            About Me
                        </button>
                    </h3>
                </div>
                <div id="collapse-about-me" class="collapse show" aria-labelledby="heading-about-me" data-parent="#profile-accordion">
                    <div class="card-body editable">
                        <div>
                            <span class="label">First Name:</span> <span class="value" id="first-name">{{profile.first_name}}</span>
                        </div>
                        <div>    
                            <span class="label">Last Name:</span> <span class="value" id="last-name">{{profile.last_name}}</span>
                        </div>
                        <div>
                            <span class="label">Email:</span> <span class="value" id="email">{{profile.email}}</span>
                        </div>
                        <div>
                            <span class="label">Phone:</span> <span class="value" id="phone">{{profile.phone}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" data-section="emergency-contact">
                <div class="card-header" id="heading-emergency-contact">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-emergency-contact" aria-expanded="true" aria-controls="collapse-emergency-contact">
                            Emergency Contact
                        </button>
                    </h3>
                </div>
                <div id="collapse-emergency-contact" class="collapse show" aria-labelledby="heading-emergency-contact" data-parent="#profile-accordion">
                    <div class="card-body editable">
                        <div>
                            <span class="label">First Name:</span> <span class="value" id="emergency-first">{{profile.emergency_first}}</span>
                        </div>
                        <div>
                            <span class="label">Last Name:</span> <span class="value" id="emergency-last">{{profile.emergency_last}}</span>
                        </div>
                        <div>
                            <span class="label">Email:</span> <span class="value" id="emergency-email">{{profile.emergency_email}}</span>
                        </div>
                        <div>
                            <span class="label">Phone:</span> <span class="value" id="emergency-phone">{{profile.emergency_phone}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" data-section="administrative">
                <div class="card-header" id="heading-administrative">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-administrative" aria-expanded="true" aria-controls="collapse-administrative">
                            Administrative
                        </button>
                    </h3>
                </div>
                <div id="collapse-administrative" class="collapse show" aria-labelledby="heading-administrative" data-parent="#profile-accordion">
                    <div class="card-body">
                        <div>
                            <span class="label">Account created on:</span> <span class="value">{{profile.date_joined}}</span>
                        </div>
                            <div><span class="label">Accepted class policies on:</span> <span class="value">{{profile.accept_terms}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- On larger screens, put orders and enrollment history in their own column-->
    <div class="col-md" id="enrollments-orders">

        {% if semesters %}
            <h2>Enrollment History</h2>
            <div class="accordion" id="enrollment-accordion">
                {% for semester in semesters %}
                <div class="card" data-semester="{{semester.id}}">
                    <div class="card-header" id="heading{{semester.id}}">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{semester.id}}"
                                aria-expanded="true" aria-controls="collapse{{semester.id}}">
                                {{semester.name}}
                            </button>
                        </h3>
                    </div>
                    <div id="collapse{{semester.id}}" class="collapse" aria-labelledby="heading{{semester.id}}" data-parent="#enrollment-accordion">
                        <div class="card-body">
                            <ul>
                                {% for enrollment in semester.enrollments %}
                                    <li>{{enrollment.offering.course.title}} - {{enrollment.offering.weekday_name}} </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
 
        {% if orders %}
        <h2>Orders</h2>
        <div class="accordion" id="order-accordion">
            {% for order in orders %}
                <div class="card" data-order="{{order.id}}">
                    <div class="card-header" id="heading{{order.id}}">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{order.id}}"
                                aria-expanded="true" aria-controls="collapse{{order.id}}">
                                Order {{order.id}} - {{order.completed|date:DATE_FORMAT}}
                            </button>
                        </h3>
                    </div>
                    <div id="collapse{{order.id}}" class="collapse" aria-labelledby="heading{{order.id}}" data-parent="#order-accordion">
                        <div class="card-body">
                            {# CITATION:  Accessing values in a list item https://stackoverflow.com/a/1479236 #}
                            <h4 class="card-title">{{order.items.0.offering.semester}}</h4>
                            {% for item in order.items %}
                                <ul>
                                    <li>{{item.offering.course.title}} {{item.offering.weekday_name}} ${{item.price|floatformat:2}}
                                        {% if item.planned_absences %}
                                            (Planned Absences:  {{item.planned_absences}})
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endfor %}
                            <div>
                                <span class="label">Subtotal:</span> <span class="value">${{order.subtotal|floatformat:2}}</span>
                            </div>
                            <div>
                                <span class="label">Discounts:</span> <span class="value"></span>-${{order.discount|default_if_none:"0.00"|floatformat:2 }}</span>
                            </div>
                            <div>
                                <span class="label">Total:</span> <span class="value"></span>${{order.total|floatformat:2 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}