/* MAJOR LAYOUT ELEMENTS */

header,
footer, 
.row {
    margin: 20px;
}

.container {
    margin-left: 10px;
}

.card {
    margin: 20px;
    border-radius: 5px;
}

.accordion {
    margin: 20px;
}

.accordion .card {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.borderless-card {
    padding-bottom: 30px;
    border: none;
}

/* Center the paginator elements */
.container nav {
    display: flex;
    justify-content: center;
}

/* Accordion expand/collapse links */
.card-header .btn-link {
    font-size: 1.25rem;
    padding-left: 0;
}

/* Show inline labels in bold */
.label {
    font-weight: bold;
}


/* FORM ELEMENTS*/

form label,
form input[type="submit"] {
    display: block;
}

input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* CART ELEMENTS */

#cart-container ul,
#enrollments-orders ul {
    padding: 0;
}

#cart-container li,
#enrollments-orders li {
    list-style: none;
}

#cart-container,
#offerings-container {
    padding-left: 0;
    padding-right: 0;
}


/* CONTACT LIST STYLES */

#contact-sheet {
    margin: 0;
    width: 100%;
}

.col-md-6 .card {
    margin-left: 0;
    margin-right: 0;
}

.mb-4 .card-body{
    padding-bottom: 0;
}


/* RESPONSIVE - Styles for larger screens - Most responsive behavior is based on the Boostrap md breakpoint  */

@media(min-width: 768px) {

    /* Remove the extra whitespace when displayed in columns */
    .borderless-card{
        padding-bottom: 0px;
    }

    #contact-sheet {
        max-width: 100%;
    }
}