/* NOTE:    This app's look & feel is also affected by Boostrap CSS */

form label,
form input[type="submit"] {
    display: block;
}

.label {
    font-weight: bold;
}

.card {
    margin: 20px;
    border-radius: 5px;
}

#cart-container,
#offerings-container {
    padding: 0;
}

/* Re-add the padding that the child elements would have inherited from the parent */
#cart-container *,
#offerings-container *:not(.card) {
    padding-left: 20px;
}


/* RESPONSIVE - Styles for larger screens  */

/* @media(min-width: 720px) {

    #cart-container,
    #offerings-container {
        border: none;
    }

} */