/* NOTE:    This app's look & feel is also affected by Boostrap CSS */

form label,
form input[type="submit"] {
    display: block;
}

.label {
    font-weight: bold;
}

.card {
    margin: 20px;
    border-radius: 5px;
}

#cart-container,
#offerings-container {
    padding-left: 0;
    padding-right: 0;
}

/* RESPONSIVE - Styles for larger screens  */

/* @media(min-width: 720px) {

    #cart-container,
    #offerings-container {
        border: none;
    }

} */